@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}
.row{
  max-width: 90%;
  margin: 0 auto;
}

/*........header section...........*/
.top-nav-container{
  background-color: rgb(139, 139, 204);
}

.top-nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(175, 175, 199);
  padding: 10px 0;
}

.top-nav-btn{
  display: flex;
}

.top-nav-btn{
  background-color: rgb(184, 100, 184);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  font-weight: bold;
  margin-right: 1.2rem;
}

.top-nav-btn i{
  color: rgb(238, 232, 232);
  font-size: 1.3rem;
}

.top-bar-store{
  display: flex;
  align-items: center;
}

.top-bar-store i{
  color: rgb(234, 228, 228);
  margin-right: 10px;
}


.deeco_logo{
  font-size: 1rem;
  border: 3px solid black;
  font-weight: bold;
  display: inline;
  padding: 0 0.5rem
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.row ul{
  display: flex;
  padding: 4rem;
  align-items: center;
}

.row ul li{
  list-style: none;
  padding: 10px;
}

.row.left-nav{
  display: flex;
  align-items: center;
}


